.list ul {
  list-style-type: none;
  margin-top: -20px;
  margin-bottom: 0;
}

.list ul li {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 5rem;
  padding-bottom: 10px;
}

.list ul li i {
  padding: 0 0.2rem;
  cursor: pointer;
}

@media(min-width: 2076px) {
  .list ul {
    margin-left: 1rem;
  }
}