.People {
  margin-left: 1rem;
}
.People input {
  width: 96%;
  padding: 0.2rem;
}

.input {
  position: relative;
}

.ListItemsWarper {
  width: 14.5rem;
  margin: 1rem;
  display: flex;
  align-items: center;
}

.play button {
  border: 1px solid #000;
  outline: none;
  background: transparent;
  height: 1.56rem;
  cursor: pointer;
}

.play button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
