.People {
  margin-left: 1rem;
}
.People input {
  padding: 0.35rem;
  width: 100%;
}

.input {
  display: flex;
}

.ListItemsWarper {
  width: 14.5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.titleInput {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.titleInput > *:last-child {
  margin-left: 0.5rem;
}
