.People {
  margin-left: 1rem;
}
.People input {
  padding: 0.35rem;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ListItemsWarper {
  width: 14.5rem;
  margin: 1rem;
  display: flex;
  align-items: center;
}

.play button {
  border: 1px solid #000;
  outline: none;
  background: transparent;
  height: 1.56rem;
  cursor: pointer;
}

.play button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
.titleInput {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  margin-left: 1.5rem;
}

.titleInput > *:last-child {
  margin-left: 0.5rem;
}
