
.input {
  display: flex;
  margin-top: 1rem;
  margin-left: -1rem;
}

.title {
  display: flex;
  align-items: center;
}

.title > *:last-child {
  margin-left: 0.5rem;
}

.Systems input {
  width: 100%;
}

.ListItemsWarper {
  margin-top: 2rem;
  margin-left: -4rem;
}

@media(max-width: 2077px) {
  .ListItemsWarper {
    margin-left: -3rem;
  }
}